{:lib      io.github.hive-agi/hive-overarch
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/hive-overarch"
 :src-dirs ["src"]
 :publish  :clojars}
